{
  "presets": [
    [
      "latest",
      {
        "es2015": {
          "modules": false
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-assign",
    "transform-runtime", [
      "module-resolver",
      {
        "root": [
          "./client"
        ],
        "alias": {
          "store": "./client/store",
          "component": "./client/component",
          "container": "./client/container",
          "style": "./client/style",
          "image": "./client/image",
          "util": "./client/util"
        }
      }
    ]
  ],
  "env": {
    "development": {},
    "production": {
      "only": [
        "client"
      ],
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-react-display-name"
      ]
    },
    "unittest": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    },
    "prod-test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    }
  }
}
